body{
  font-family: "Inter",sans-serif;
  margin: 0;
  text-align: center;
}
body.dark-theme{
  background: #202020;
  color: white;
}
.bar {
  position: sticky;
  top: 0;
  background: #5690DB;
  padding: 1rem;
  font-weight: 500;
}
.bar > a{
  padding: .5%;
  color: white;
  text-decoration-line: none;
  font-size: auto;
}
.bar > a.active{
  font-weight: 800;
}
.bar > a, .bar > hr.vertical{
  display: inline;
}
hr.vertical {
  border: 0;
  margin: 0;
  border-left: 2px solid rgb(61, 104, 160);
  height: 1rem;
}
.back{
  width: 100%;
  height: 25rem;
  margin-top: 0;
  margin-bottom: 3%;
  animation: smallBackground 2s ease 1s 1 normal forwards;
  background-repeat: no-repeat;
}
.back.win11{
  background: rgb(0, 123, 255) url("./images/img100.jpg");
  background-size: 170rem;
  background-position: center center;
}
.back.win8{
  background: rgb(255, 174, 0) url("./images/8.jpeg");
  background-size: 170rem;
  background-position: center center;
}
.back.win7{
  background: rgb(0, 123, 255) url("./images/7.jpg");
  background-size: 170rem;
  background-position: center center;
}
.back > h1{
  text-align: center;
  vertical-align: middle;
  line-height: 25rem;
  color: white;
  font-size: 3rem;
  animation: largeText 2s ease 1s 1 normal forwards;
  margin: 0;
  padding: 0;
}
@keyframes largeText {
  0% {
    font-size: 3rem;
  }

  100% {
    font-size: 4rem;
  }
}
@keyframes smallBackground {
  0%{
    background-size: 170rem;
  }

  100%{
    background-size: 150rem;
  }
}
.content{
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}
.header{
  font-size: 3rem;
  font-weight: 900;
}
.subheader{
  font-size: 2rem;
  font-weight: 730;
}
.update{
  display: inline;
  justify-content: center;
  margin: 1%;
  flex-wrap: wrap;
}
.update > img{
  margin-right: 2%;
}
.update > .info{
  width: 20rem;
}
.update > .info > ul{
  list-style-type: none;
  padding: 0;
}
.updates{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.email{
  background: rgb(0, 110, 255);
}
.scratch{
  background: rgb(255, 204, 0);
}
.discord{
  background: rgb(84, 84, 255);
}
.contact{
  display: inline;
  border: black 0px solid;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
}
.contact > a{
  color: white;
  text-decoration-line: none;
  text-align: center;
}
.contacts{
  text-align: center;
  font-weight: 900;
}
.profile{
  border: transparent 0px solid;
  width: 10rem;
  height: auto;
}
.about{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about > .text{
  width: auto;
  margin: 1rem;
}
.about > .text > h1{
  font-size: 2.5rem;
}
.project > h3{
  font-size: 1.5rem;
  margin: 2px;
  width: 20rem;
}
.project > img{
  border: transparent 0px solid;
  border-radius: 25px;
  width: 320px;
  height: 240px;
}
.mostviewed{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button{
  background: #5690DB;
  border: transparent 0px solid;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  padding: 0.8%;
  cursor: pointer;
}
.ver{
  margin: 1%;
}
